<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    
    <meta name="title" content="呂丹冊工" />
    <meta name="description" content="Gami, like origami ⌐◨-◨" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gami.wtf/" />
    <meta property="og:title" content="呂丹冊工" />
    <meta property="og:description" content="Gami, like origami ⌐◨-◨" />
    <meta property="og:image" content="/assets/gamiwtf.png" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gami.wtf/" />
    <meta property="twitter:title" content="呂丹冊工" />
    <meta property="twitter:description" content="Gami, like origami ⌐◨-◨" />
    <meta property="twitter:image" content="/assets/gamiwtf.png" />
    
    <!-- Styles and Scripts -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="{{ 'assets/css/normalize.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}" />
    <script src="{{ 'assets/js/typed.umd.js' | relative_url }}"></script>
</head>

<body>
  <main>

{{ content }}

  </main>
  <script>
    var typed = new Typed("#typed", {
      stringsElement: "#strings",
      backSpeed: 10,
      typeSpeed: 30,
      backDelay: 1000,
      loop: true,
      smartBackspace: true,
    });
  </script>
</body>

</html>
